
:root {
  --contentWidth: 1024px;
  --colorPrimary: #ffd600;
  --colorPrimaryLight: #ffff52;
  --colorPrimaryDark: #c7a500;
  --colorSecondary:#aeea00;
  --colorSecondaryLight: #e4ff54;
  --colorSecondaryDark: #79b700;
  --colorGrayDark: #DDDEDD;
  --colorGrayLight:#F3F3F5;
}
@media (max-width: 480px) and (orientation: portrait),
(max-width: 480px) and (orientation: landscape)
{
  :root {
    --contentWidth: 100vw;
  }
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;;
}
code {
  font-family: Menlo, Monaco, serif;
}
a,
a:active {
  text-decoration: none;
  color: inherit;
}
a {
  color: var(--colorSecondaryDark)
}
b {
  font-weight: bold;
}
.header {
  width: 100%;
  padding: 10px 0;
  height: 40px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--colorPrimary);
}
.header a {
  padding: 0 15px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.brand {
  font-size: 22px!important;
}

.inner {
  width: var(--contentWidth);
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}

.headerItem {
  padding-left: 15px;
}

.spacer {
  flex: 1
}

.githubLogo {
  background-image: url("/img/GitHub-Mark-32px.png");
  background-size: 32px;
  background-position: center;
  width: 32px;
  height: 32px;
}
@media (min-resolution: 2dppx) {
  .githubLogo {
    background-image: url("/img/GitHub-Mark-64px.png");;
  }
}
h1 {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 0;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
h3 {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}
code {
  font-size: 1em;
  line-height: 1.1em;
}
body {
  background-color: #f5f7f9;
}
.root {
  width: 100vw;
}
.content {
  width: var(--contentWidth);
  position: relative;
  padding-top: 60px;
  margin: auto;
}
.content {
}
.article {
  margin-left: 240px;
}
.article p {
  padding: 15px 0;
  line-height: 1.2;
}
.article a {
  text-decoration: underline;
}
.article ul {
  padding-left: 15px;
}
.article li {
  list-style: inside;
  padding: 5px 0;
}
.article blockquote {
  background-color: var(--colorGrayLight);
  padding: 15px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
  font-size: 22px;
  font-family: "Times New Roman", serif;
}
.sidebar {
  position: absolute;
  top: 60px;
  left: 0;
  padding: 15px;
}
@media (max-width: 480px) and (orientation: portrait) {
  .sidebar {
    position: static;
  }
}

.heading p {
  color: #9daab6;
  margin-bottom: 15px;
}
.sidebarSection {
  margin: 10px 0;
}
.sidebarSectionTitle {
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}
.sidebarSectionInner {
  padding-left: 15px;
}
.sidebarLink {
  padding: 5px 0;
}
.article {
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
}
.codeLink {
  padding: 5px 0;
}
@media (max-width: 480px) and (orientation: portrait) {
  .article {
    position: static;
    margin-left: 0;
  }
}
.footer {
  text-align: center;
  background-color: #e6ecf1;
  padding: 15px 0;
  color: #9daab6;
  width: 100%;
}
